/1401417003_KalinDimov/NewProject/nbproject/private/
/1401417003_KalinDimov/NewProject/build/
/1401417018_DenislavSpasov/*/nbproject/
/1401417018_DenislavSpasov/*/build/
/1401417014_IvayloDeshev/MyCalculator/build/
/1401417014_IvayloDeshev/MyCalculator/dist/
/1401417014_IvayloDeshev/MyCalculator/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/JavaApplication1/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/JavaApplication1/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/nakov1/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/nakov1/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad1/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad1/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad10/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad10/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad11/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad11/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad2/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad2/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad3_2/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad3_2/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad4/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad4/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad5/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad5/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad6/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad6/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad7/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad7/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad8/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad8/nbproject/private/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad9/build/
/1401417014_IvayloDeshev/NetBeansProjectsFromUniversityPC/zad9/nbproject/private/
/1401417014_IvayloDeshev/bookOwner/nbproject/private/
/1401417014_IvayloDeshev/myGarrage/build/
/1401417014_IvayloDeshev/myGarrage/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 1/JavaApplication10/build/
/1401417014_IvayloDeshev/nakov/chapter 1/JavaApplication10/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/JavaApplication24/build/
/1401417014_IvayloDeshev/nakov/chapter 6/JavaApplication24/dist/
/1401417014_IvayloDeshev/nakov/chapter 6/JavaApplication24/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer1/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer1/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer2/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer2/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer3/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer3/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer4/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer4/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer5/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer5/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer6/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer6/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer7/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer7/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer8/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer8/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/primer9/build/
/1401417014_IvayloDeshev/nakov/chapter 6/primer9/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/upr1/build/
/1401417014_IvayloDeshev/nakov/chapter 6/upr1/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/upr2/build/
/1401417014_IvayloDeshev/nakov/chapter 6/upr2/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/upr3/build/
/1401417014_IvayloDeshev/nakov/chapter 6/upr3/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 6/upr4/build/
/1401417014_IvayloDeshev/nakov/chapter 6/upr4/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/ZatCodezetcode/build/
/1401417014_IvayloDeshev/nakov/chapter 7/ZatCodezetcode/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer1/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer1/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer2/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer2/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer3/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer3/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer4/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer4/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer5/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer5/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer6/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer6/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer7/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer7/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer8/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer8/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/primer9/build/
/1401417014_IvayloDeshev/nakov/chapter 7/primer9/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/upr1/build/
/1401417014_IvayloDeshev/nakov/chapter 7/upr1/nbproject/private/
/1401417014_IvayloDeshev/nakov/chapter 7/zad2/build/
/1401417014_IvayloDeshev/nakov/chapter 7/zad2/nbproject/private/
/1401417014_IvayloDeshev/upr2/d/nbproject/private/
/1401417014_IvayloDeshev/upr2/zad11/build/
/1401417014_IvayloDeshev/upr2/zad11/nbproject/private/
/1401417014_IvayloDeshev/upr2/zad12/build/
/1401417014_IvayloDeshev/upr2/zad12/nbproject/private/
/1401417014_IvayloDeshev/upr2/zad13/build/
/1401417014_IvayloDeshev/upr2/zad13/nbproject/private/
/1401417014_IvayloDeshev/upr2/zad14/build/
/1401417014_IvayloDeshev/upr2/zad14/nbproject/private/
/1401417014_IvayloDeshev/upr2/zad15/build/
/1401417014_IvayloDeshev/upr2/zad15/nbproject/private/
/1401417014_IvayloDeshev/upr2/zadacha11/build/
/1401417014_IvayloDeshev/upr2/zadacha11/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad1/build/
/1401417014_IvayloDeshev/upr3/zad1/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad10/build/
/1401417014_IvayloDeshev/upr3/zad10/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad11/build/
/1401417014_IvayloDeshev/upr3/zad11/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad2/build/
/1401417014_IvayloDeshev/upr3/zad2/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad3/build/
/1401417014_IvayloDeshev/upr3/zad3/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad4/build/
/1401417014_IvayloDeshev/upr3/zad4/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad5/build/
/1401417014_IvayloDeshev/upr3/zad5/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad6/build/
/1401417014_IvayloDeshev/upr3/zad6/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad7/build/
/1401417014_IvayloDeshev/upr3/zad7/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad8/build/
/1401417014_IvayloDeshev/upr3/zad8/nbproject/private/
/1401417014_IvayloDeshev/upr3/zad9/build/
/1401417014_IvayloDeshev/upr3/zad9/nbproject/private/
/1401417014_IvayloDeshev/upr4/zad1/build/
/1401417014_IvayloDeshev/upr4/zad1/nbproject/private/
/1401417014_IvayloDeshev/upr5/proekt1/build/
/1401417014_IvayloDeshev/upr5/proekt1/nbproject/private/